*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
}

/* common styles  */
a{
    text-decoration: none;
}

li{
    list-style: none;
}

.btn{
   padding: 14px 22px;
   background-color: #FD6E0A;
   border: 1px solid #FD6E0A;
   outline: none;
   border-radius: 5px;
   cursor: pointer;
   color: #ffffff;
   font-size: 20px;
   font-weight: 600;
   transition: all 0.3s ease;
}

.btn:hover, .btn-white{
    border: 1px solid #FD6E0A;
    background-color: white;
    color: #FD6E0A;
}

.container{
    max-width: 1140px;
    width: 71%;
    margin: 0 auto 50px;
}

.section-title{
    margin-bottom: 40px;
    text-align: center;
}

.section-title h2{
    font-size: 35px;
    color: #181818;
    margin-bottom: 30px;
}

.section-title p{
    font-size: 18px;
    color: #757575;
}

/* header section style  */
#header{
    background: url(/images/developer.png), url(/images/header_bg.png), #FFF8F3;
    background-repeat: no-repeat;
    background-position: 23px 5px, bottom right;
}

.navbar{
    padding-top: 51px;
    display: flex;
    justify-content: space-between;
}

.navbar h2{
    font-size: 45px;
    font-weight: bolder;
    color: #181818;
    cursor: pointer;
    text-shadow: 1px 1px 1px #FD6E0A;
}

.navbar h2 span{
    color: #FD6E0A;
    text-shadow: 1px 1px 1px #181818;
}

.navs{
    display: flex;
    gap: 51px;
    align-items: center;
}

.navs li a{
    font-size: 20px;
    font-weight: 600;
    color: #474747;
}

.banner{
    width: 83%;
    max-width: 1332px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 68px 0 280px;
}

.banner h3{
    color: #474747;
    font-size: 45px;
    font-weight: 600;
}

.banner h1{
    font-size: 85px;
    color: #181818;
    margin: 20px 0;
    text-shadow: 1px 1px 1px #FD6E0A;
}

.banner h1 span{
    color: #FD6E0A;
    text-shadow: 1px 1px 1px #181818;
}

.banner p{
    font-size: 18px;
    color: #757575;
    max-width: 585px;
    margin-bottom: 30px;
}

.btn-white{
    margin-left: 30px;
}

.banner-img img{
    vertical-align: middle;
}

/* about section style  */
#about{
    margin-top: 70px;
    padding: 131px 156px;
    background-color: #FFF8F3;
    border-radius: 10px;
}

.about-cards-container{
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    color: #757575;
}

/* skill section style  */
.skill-cards-container{
    display: flex;
    justify-content: space-between;
    gap: 54px;
}

.skill-card{
    max-width: 267px;
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0 6px 50px rgba(0, 0, 0, 0.103);
}

.skill-card h3{
    font-size: 20px;
    color: #181818;
    margin: 20px 0;
}

.skill-card p{
    font-size: 16px;
    line-height: 28px;
    color: #757575;
}